<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Document</title>
    <script>
        $(document).ready(function(){
            perfrom_query()
        })

        function perfrom_query(){
            let word = "apple";
            let api_key = "40bcbe4b-17be-4945-874f-768f27a33f7c"
            let url =`https://dictionaryapi.com/api/v3/references/collegiate/json/${word}?key=${api_key}`
            $.ajax({
                type: "GET",
                url: url,
                data: {},
                success: function (response) {
                    console.log(response)
                    
                }
            })
        }
    </script>
</head>
<body>
    
</body>
</html>